@model UserLoginVm

<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
				<form action="https://htmldemo.net/pustok/pustok/">
					<div class="login-form">
						<h4 class="login-title">Returning Customer</h4>
						<p><span class="font-weight-bold">I am a returning customer</span></p>
						<div class="row">
							<div class="col-md-12 col-12 mb--15">
								<label asp-for="Username"></label>
								<input asp-for="Username" class="mb-0 form-control"
									   placeholder="Enter you username here...">
                                <span asp-validation-for="Username" class="text-danger"></span>
							</div>
							<div class="col-12 mb--20">
								<label asp-for="Password"></label>
								<input asp-for="Password" class="mb-0 form-control"
									   placeholder="Enter you userPasswordname here...">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div><div class="col-12 mb--20">
								<label asp-for="RememberMe"></label>
								<input asp-for="RememberMe">
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-outlined">Login</button>
							</div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}